{
  parser: 'babel-eslint',
  root: true,
  env: {
    browser: true,
    node: true,
    es6: true
  },
  plugins: [ 'react' ],
  ecmaFeatures: {
    jsx: true,
    modules: true
  },
  extends: 'airbnb',
  rules: {
    no-undef: 2,
    semi: [ 2, 'always' ],
    comma-dangle: [ 2, 'never' ],
    strict: 0,
    quotes: [ 2, 'single', 'avoid-escape' ],
    no-mixed-spaces-and-tabs: [ 2, 'smart-tabs' ],
    indent: [ 2, 'tab', { 'SwitchCase': 1 } ],
    react/jsx-indent: [ 2, 'tab' ],
    react/jsx-indent-props: [ 2, 'tab' ],
    react/jsx-no-undef: 2,
    react/jsx-uses-react: 1,
    id-length: 0,
    react/jsx-closing-bracket-location: 0,
    max-len: [ 1, 120, 4 ]
  }
}
